body {
    background-color: Cornsilk;
}

.container {
    text-align: left;
    margin-top: 50px;
}



#mainImage {
    width: 800px;
    height: 600px;
    margin-bottom: auto;
}

#changeButton {
    padding: auto;
    font-size: 40px;
    font-family: garamond;
    background-color: cornsilk;
    color: lightsteelblue;
    border: 7px solid powderblue;
    cursor: pointer;
    border-radius: 5px;
}