body {
    background-color: linen;
}

.container {
    text-align: left;
    margin-top: 50px;
}



#mainImage {
    width: 700px;
    height: 700px;
    margin-bottom: auto;
}

#changeButton {
    padding: auto;
    font-size: 30px;
    font-family: garamond;
    background-color: linen;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 3px;
}